
    
    form input { 
        border-style: solid; 
        border-width: 1px; 
        padding: 10px; 
        width: 80%; 
        bottom: 2%;
        position: relative;
    }
     form button { 
        width: 10%; 
        background: #000000; 
        color:white;
        border: none; 
        padding: 10px; 
        bottom:2%;
        margin-right: 0.2px;
        margin-bottom: 0.5px;
        margin-left:10px;
        position: relative;
    }


    .messages { 
        font: 30px Helvetica, Arial;
        background: #fff; 
        padding: 3px; 
        height: 850px;
        border-color: #000; 
        border-top-style: solid; 
        border-top-width: 1px;
        overflow:scroll;
    }