<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<ul class="navbar">
		<li><a class="logout" href="logout">Logout</a></li>
		<li><a class="contact" href="contact.html">Contact</a></li>
		<li><a class="about" href="about.html">About</a></li>
		<li><a class="interests" href="/interests">Set Interests</a></li>
	  </ul>
	<head>
		<meta charset="utf-8">
		
		
		<title>Home</title>

		
	</head>
	<body>
		<h1> Welcome: <%= username %> </h1>
		
		<div class="homepage-list">
			<button onclick="myFunction()">Chat Now</button>

			<script>
			function myFunction() {
				//function here that creates the chatroom
			window.open(href="/createRoom");
			}
			</script>
		</div>
	</body>
</html>