<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<ul class="navbar">
		<li><a class="logout" href="logout">Logout</a></li>
		<li><a class="contact" href="contact.html">Contact</a></li>
		<li><a class="about" href="about.html">About</a></li>
		<li><a class="interests" href="/interests">Set Interests</a></li>
	  </ul>
	<head>
		<meta charset="utf-8">
		
		
		<title>RelyRelay - Home</title>

		
	</head>
	<body>
		<h1> Welcome to RelyRelay, <%= username %> </h1>
		
		<div class="homepage-list">
			<button id = "sub" onclick="myFunction()">Chat Now</button>
			<form id = "secret" action= "/getRoom" method="POST">
				<input name = "username2" type = "hidden" value="<%= username %>">
			</form>
			<script src="/socket.io/socket.io.js"></script>
			<script>
			function myFunction() {
				//function here that creates the chatroom
			window.open(href="/createRoom");
			}

			//if someone started a chat with user
			var socket = io.connect();
			socket.on('generated room', (data) => {
			console.log(data.room, data.from, data.to);
			if(data.to == "<%= username %>"){
				var uFrom = document.createElement('input');
				uFrom.setAttribute('name', 'room');
				uFrom.setAttribute('type', 'hidden');
				uFrom.setAttribute('value', data.room);
				secret.appendChild(uFrom);
				//$("#form").submit()
				}
			});
			</script>
		</div>
	</body>
</html>