<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<ul>
		<li><a class="login" href="/server.html">Login</a></li>
		<li><a class="signup" href="/register.html">Sign up</a></li>
		<li><a class="contact" href="contact.html">Contact</a></li>
		<li><a class="about" href="about.html">About</a></li>
	  </ul>
	<head>
		<meta charset="utf-8">
		
		
		<title>Home</title>

		
	</head>
	<body>
		<h1> Welcome: <%= username %> </h1>
		
		<div class="homepage-list">
			<li class="homepage-list"><a class="login" href="/server.html">Login</a></li>
			<li class="homepage-list"><a class="signup" href="/register.html">Sign up</a></li>
			<li class="homepage-list"><a class="contact" href="contact.html">Contact</a></li>
			<li class="homepage-list"><a class="about" href="about.html">About</a></li>
		</div>
	</body>
</html>